@model QLXS.Models.Giai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có Chắc Muốn Xóa?</h3>
<div>
    <h4>Giải Thưởng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGiai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGiai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiaiThuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaiThuong)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="button" value="Back To List" class="btn btn-success" onclick="location.href='@Url.Action("Index","Giais")'" />|
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
    }
</div>
