@model QLXS.Models.Giai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Chi Tiết</h2>

<div>
    <h4>Giải Thưởng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGiai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGiai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiaiThuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaiThuong)
        </dd>



    </dl>
</div>
<p>
    <input type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Giais")'" /><strong>|</strong>
    <input type="button" value="Edit" class="btn btn-success" onclick="location.href='@Url.Action("Edit","Giais",new { id = Model.MaGiai })'" />
</p>
