@model QLXS.Models.LoaiVeso

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh Sửa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Loại Vé Số</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.MaLoaiVeSo, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.MaLoaiVeSo, new { htmlAttributes = new { @class = "form-control" ,required=true} })
                    @Html.ValidationMessageFor(model => model.MaLoaiVeSo, "", new { @class = "text-danger" })
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Tinh, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.Tinh, new { htmlAttributes = new { @class = "form-control",required=true } })
                    @Html.ValidationMessageFor(model => model.Tinh, "", new { @class = "text-danger" })
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.GiaVe, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.GiaVe, new { htmlAttributes = new { @class = "form-control",required=true } })
                    @Html.ValidationMessageFor(model => model.GiaVe, "", new { @class = "text-danger" })
                </p>
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p>

                    <input type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","LoaiVesoes")'" />
                </p>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <p align="right">
                    <input type="submit" value="Edit" class="btn btn-success" />
                </p>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
