@model PagedList.IPagedList<QLXS.Models.LoaiVeSo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách</h2>
@using (Html.BeginForm())
{
    <p>
        <label>Tìm Kiếm:</label> @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoaiVeSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Tinh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiVeSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiVeSo }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaLoaiVeSo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiVeSo })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))