@model QLXS.Models.PhatHanh

@{
    ViewBag.Title = "Details";
}

<h2>Thông tin</h2>

<div>
    <h4>Thông tin Phát Hành</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Đại Lý
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.TenDaiLy)
        </dd>
        <dt>
            Tỉnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiVeso.Tinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SLBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoanhThuDPH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoanhThuDPH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoaHong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaHong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienThanhToan)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, madaily = Model.MaDaiLy, maveso = Model.MaLoaiVeSo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
