@model QLXS.Models.PhieuThu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn Có Chắc Muốn Xóa?</h3>
<div>
    <h4>Phiếu Thu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPhieuThu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhieuThu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaiLy.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.Ten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienThuDuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienThuDuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CongNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CongNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoaHong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaHong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaVe)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
