@model QLXS.Models.PhieuThu

@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal?[] ViewTienThanhToan = ViewBag.TienThanhToan;
    decimal?[] ViewTienThuDuoc = ViewBag.SoTienThuDuoc;
    decimal?[] ViewCongNo = ViewBag.CongNo;
    decimal?[] ViewTienChi = ViewBag.TienChi;
}

<h2>Thống Kê Doanh Thu</h2>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="chart_div3"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix" style="height:50px"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix" style="height:50px"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div id="chart_div2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
// Load google charts
    google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
    var data = google.visualization.arrayToDataTable([
         ['Tháng', 'Thu Nhập','Chi Trả'],
            ['Tháng 1', @ViewTienThuDuoc[1],@ViewTienChi[1]],
  ['Tháng 2', @ViewTienThuDuoc[2],@ViewTienChi[2]],
  ['Tháng 3', @ViewTienThuDuoc[3],@ViewTienChi[3]],
  ['Tháng 4', @ViewTienThuDuoc[4],@ViewTienChi[4]],
  ['Tháng 5', @ViewTienThuDuoc[5],@ViewTienChi[5]],
  ['Tháng 6', @ViewTienThuDuoc[6],@ViewTienChi[6]],
  ['Tháng 7', @ViewTienThuDuoc[7],@ViewTienChi[7]],
  ['Tháng 8', @ViewTienThuDuoc[8],@ViewTienChi[8]],
  ['Tháng 9', @ViewTienThuDuoc[9],@ViewTienChi[9]],
  ['Tháng 10', @ViewTienThuDuoc[10],@ViewTienChi[10]],
  ['Tháng 11', @ViewTienThuDuoc[11],@ViewTienChi[11]],
  ['Tháng 12', @ViewTienThuDuoc[12],@ViewTienChi[12]]
    ]);


    var options = { 'title': 'So Sánh Thu Nhập và Chi Trả trong năm', 'width': 1000, 'height':500};

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div3'));

    chart.draw(data, options);

}
</script>
<script type="text/javascript">
// Load google charts
    google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
    var data = google.visualization.arrayToDataTable([
         ['Tháng', 'Thu Nhập','Công Nợ'],
            ['Tháng 1', @ViewTienThuDuoc[1],@ViewCongNo[1]],
  ['Tháng 2', @ViewTienThuDuoc[2],@ViewCongNo[2]],
  ['Tháng 3', @ViewTienThuDuoc[3],@ViewCongNo[3]],
  ['Tháng 4', @ViewTienThuDuoc[4],@ViewCongNo[4]],
  ['Tháng 5', @ViewTienThuDuoc[5],@ViewCongNo[5]],
  ['Tháng 6', @ViewTienThuDuoc[6],@ViewCongNo[6]],
  ['Tháng 7', @ViewTienThuDuoc[7],@ViewCongNo[7]],
  ['Tháng 8', @ViewTienThuDuoc[8],@ViewCongNo[8]],
  ['Tháng 9', @ViewTienThuDuoc[9],@ViewCongNo[9]],
  ['Tháng 10', @ViewTienThuDuoc[10],@ViewCongNo[10]],
  ['Tháng 11', @ViewTienThuDuoc[11],@ViewCongNo[11]],
  ['Tháng 12', @ViewTienThuDuoc[12],@ViewCongNo[12]]
    ]);


    var options = { 'title': 'So Sánh Thu Nhập và Công Nợ trong năm', 'width': 1000, 'height':500};

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

    chart.draw(data, options);

}
</script>

<script type="text/javascript">
// Load google charts
    google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
    var data = google.visualization.arrayToDataTable([
         ['Tháng', 'Doanh Thu Thanh Toán','Thu Nhập Thực Tế'],
            ['Tháng 1', @ViewTienThanhToan[1],@ViewTienThuDuoc[1]],
  ['Tháng 2', @ViewTienThanhToan[2],@ViewTienThuDuoc[2]],
  ['Tháng 3', @ViewTienThanhToan[3],@ViewTienThuDuoc[3]],
  ['Tháng 4', @ViewTienThanhToan[4],@ViewTienThuDuoc[4]],
  ['Tháng 5', @ViewTienThanhToan[5],@ViewTienThuDuoc[5]],
  ['Tháng 6', @ViewTienThanhToan[6],@ViewTienThuDuoc[6]],
  ['Tháng 7', @ViewTienThanhToan[7],@ViewTienThuDuoc[7]],
  ['Tháng 8', @ViewTienThanhToan[8],@ViewTienThuDuoc[8]],
  ['Tháng 9', @ViewTienThanhToan[9],@ViewTienThuDuoc[9]],
  ['Tháng 10', @ViewTienThanhToan[10],@ViewTienThuDuoc[10]],
  ['Tháng 11', @ViewTienThanhToan[11],@ViewTienThuDuoc[11]],
  ['Tháng 12', @ViewTienThanhToan[12],@ViewTienThuDuoc[12]]
    ]);


    var options = { 'title': 'So Sánh Doanh Thu năm nay và Thu Nhập Thực Tế Trong Năm', 'width': 1000, 'height': 500 };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));

    chart.draw(data, options);

}
</script>
