@model QLXS.Models.PhanPhoi

@{
    ViewBag.Title = "Details";
}

<h2>Thông Tin Chi Tiết</h2>

<div>
    <h4>Phân Phối</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=>model.MaPhanPhoi)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.MaPhanPhoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DaiLy.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiVeSo.Tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiVeSo.Tinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayPhanPhoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayPhanPhoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>

    </dl>
</div>
<p>
    <input type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","PhanPhois")'" /><strong>|</strong>
    <input type="button" value="Edit" class="btn btn-success" onclick="location.href='@Url.Action("Edit","PhanPhois",new { id = Model.MaPhanPhoi })'" />
</p>
