@model QLXS.Models.PhanPhoi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh Sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Phân Phối</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaPhanPhoi)
        @Html.HiddenFor(model => model.TinhTrang)
        @Html.HiddenFor(model => model.NgayPhanPhoi)
        @Html.HiddenFor(model => model.MaDaiLy)
        @Html.HiddenFor(model => model.MaLoaiVeSo)

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.DaiLy.Ten, "Tên Đại Lý", htmlAttributes: new { @class = "control-label" })
            </div>

            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.DaiLy.Ten, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.DaiLy.Ten, "", new { @class = "text-danger" })
                </p>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.LoaiVeSo.Tinh, "MaLoaiVeSo", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.LoaiVeSo.Tinh, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.LoaiVeSo.Tinh, "", new { @class = "text-danger" })
                </p>

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.SoLuongGiao, htmlAttributes: new { @class = "control-label" })
            </div>

            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.SoLuongGiao, new { htmlAttributes = new { @class = "form-control", required=true } })
                    @Html.ValidationMessageFor(model => model.SoLuongGiao, "", new { @class = "text-danger" })
                </p>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.SoLuongBan, htmlAttributes: new { @class = "control-label" })
            </div>

            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.SoLuongBan, new { htmlAttributes = new { @class = "form-control", required = true } })
                    @Html.ValidationMessageFor(model => model.SoLuongBan, "", new { @class = "text-danger" })
                </p>

            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.TiLe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TiLe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TiLe, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.TinhTrang)
                        @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","PhanPhois")'" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

