@model QLXS.Models.DaiLy

@{
    ViewBag.Title = "Details";
}

<h2>Thông Tin Chi Tiết</h2>

<div>
    <h4>Đại Lý</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDaiLy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>



    </dl>
    <p>
        <input type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","DaiLies")'" /><strong>|</strong>
        <input type="button" value="Edit" class="btn btn-success" onclick="location.href='@Url.Action("Edit","DaiLies",new { id = Model.MaDaiLy })'" />


        @*@Html.ActionLink("Edit", "Edit", new { id = Model.MaLoaiVeSo }) |*@
    </p>
</div>