@model IEnumerable<QLXS.Models.DaiLy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách Đại Lý</h2>

<p>
    @Html.ActionLink("Thêm Đại Lý", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDaiLy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDaiLy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDaiLy }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDaiLy }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDaiLy })
        </td>
    </tr>
}

</table>
