@model QLXS.Models.KetQuaXoSo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn Có Chắc Muốn Xóa?</h3>
<div>
    <h4>Kết Quả Xổ Số</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKetQua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKetQua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiVeSo.Tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiVeSo.Tinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTrung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTrung)
        </dd>




    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="button" value="Back To List" class="btn btn-success" onclick="location.href='@Url.Action("Index","KetQuaXoSoes")'" />|
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
    }
</div>
