@model QLXS.Models.KetQuaXoSo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Chi Tiết</h2>

<div>
    <h4>Kết Quả Xổ Số</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKetQua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKetQua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiVeSo.Tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiVeSo.Tinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTrung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTrung)
        </dd>




    </dl>
</div>
<p>
    <input type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","KetQuaXoSoes")'" /><strong>|</strong>
    <input type="button" value="Edit" class="btn btn-success" onclick="location.href='@Url.Action("Edit","KetQuaXoSoes",new { id = Model.MaKetQua})'" />
</p>
