@model QLXS.Models.KetQuaXoSo

@{
    ViewBag.Title = "DoSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thử Vận May</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        <label>@Html.LabelFor(model => model.Ngay, "Ngày Xổ", htmlAttributes: new { @class = "control-label" })</label>: @Html.DropDownList("KetQuaGenre1", null, htmlAttributes: new { @class = "form-control" })
        <label>@Html.LabelFor(model => model.LoaiVeSo.Tinh, "Loại Vé Số", htmlAttributes: new { @class = "control-label" })</label>: @Html.DropDownList("KetQuaGenre2", null, htmlAttributes: new { @class = "form-control" })
    </p>
    <div style="margin-top:100px;margin-left:200px;padding-left:50px;width:80%">
        <label>@Html.LabelFor(model => model.SoTrung, "Số", htmlAttributes: new { @class = "control-label" })</label> @Html.TextBox("VeSo",null, new { @required = "required" })
        <input type="submit" value="Dò Số" class="btn btn-success" />

    </div>


}


