@model QLXS.Models.SoLuongDK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SoLuongDK</h4>
    <hr />
    <dl class="dl-horizontal">
                <dt>
            Tên Đại Lý
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.TenDaiLy)
        </dd>
        <dt>
            Ngày Đăng Ký
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDK)
        </dd>

        <dt>
            Số Lượng Đăng Ký
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDK1)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
