@model IEnumerable<QLXS.Models.SoLuongDK>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách phiếu đăng ký</h2>

<p>
    @Html.ActionLink("Thêm Phiếu Đăng Ký", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Đại Lý
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongDK1)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DaiLy.TenDaiLy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongDK1)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
